langchain==0.1.14
langchain-community==0.0.36
langchain-core==0.1.43
langchain-groq
langchain-openai
langchain-huggingface
langchain-chroma
python-dotenv
streamlit
bs4
pypdf
pypdfium2
sentence-transformers
duckduckgo-search
arxiv
wikipedia
ddgs
